@{
    ViewBag.Title = "צור קשר";
}

<head>
    <link href="~/Content/ContactStyleSheet.css" rel="stylesheet" />
</head>

<body>
        <p><strong>נשמח לפגוש אתכם</strong></p>

        <p>&nbsp;</p>

        <p>
            <span>ימים א&#39; עד ה&#39;&nbsp;&nbsp; 07:00 - 21:00</span><br />
            ימי ו&#39; וערבי חג &nbsp;07:00 - 15:00<br />
            &nbsp;
        </p>

        <p><span><strong>טל מרגלית</strong></span></p>

        <p>
            <span>טלפון.&nbsp;</span><a href="tel:+972505284100">050-528-4100</a><span>&nbsp;</span><br />
            <span>פייסבוק: </span><a href="https://www.facebook.com/talyamin10" target="_blank">https://www.facebook.com/talyamin10</a> <br />
            <span>אינסטגרם: </span><a href="https://www.instagram.com/p/Bjmd-0ggw8J/?igshid=cowbxlbb4xh4&utm_source=fb_www_attr" target="_blank">https://www.instagram.com/p/Bjmd-0ggw8J/?igshid=cowbxlbb4xh4&utm_source=fb_www_attr</a>
        </p>



        <p><u>כתובתנו</u><span>: מושב מיטב&nbsp;</span></p>

</body>